.hero {
    width: 100%;
    min-height: 100vh;
    /* padding-top: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-content {
    display: flex;
    gap: 80px;
    width: 100%;
  }
  
  
  .hero-left {
    max-width: 50%;
  }
  
  .hero-left h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 720;
    line-height: 1.2;
    margin-bottom: 24px;
  }
  
  .hero-left h2 {
    font-size: 20px;
    color: #4a5568;
    margin-bottom: 12px;
  }
  
  .hero-left p {
    color: #4a5568;
    margin-bottom: 24px;
    line-height: 1.5;
  }
  
  .hero-right {
    margin-top: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  
  .logo-tile {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    background-color: white;
    border-radius: 1px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    height: auto;
    margin: 0 auto; /* centers the tile horizontally */
    cursor: pointer;
  }

  .logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    gap: 16px;
  } 
  
  .logos img {
    max-width: 150px; /* ← Adjust based on your needs */
    height: auto;
    object-fit: contain;
  }
  
  .color-bar {
    height: 4px;
    width: 40%;
    background: linear-gradient(to right, #2A9D8F, #F4A261, #1A365D);
    border-radius: 2px;
    margin-top: 10px;
  }

  .logo-wrapper{
    /* border: solid 10px black; */
    position: relative;
    overflow: hidden;
    display: flex;
    width: 550px;
    height: 174px;
    justify-content: center;
    align-items: center;
  }

  .logo-wrapper::before {
    content: "";
    position: absolute;
    width: 700px;
    height: 100%;
    background: linear-gradient(#2A9D8F, #F4A261, #1A365D);
    opacity: 1;
    transition: opacity 300ms;
    animation: logo_rotation 8000ms infinite linear;
    animation-play-state:running;
  }

  .logo-wrapper:hover::before {
    opacity: 1;
    animation-play-state: running;
  }

  .logo-wrapper::after {
    content: "";
    position: absolute;
    width: 110%;
    height: 110%;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(50px);
  }

  @keyframes logo_rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* .fade-in {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeInUp 1s ease forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
   */