.navbar {
  width: 100%;
  padding: 24px 48px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  background-color: transparent;
}

.navbar.scrolled {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}


.logo {
  height: 48px;
  object-fit: contain;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-links li a {
  font-weight: 600;
  color: #1A365D;
  transition: color 0.3s;
}

.nav-links li a:hover {
  /* background-color: white; */
  transition: ease-in-out;
  color: #2A9D8F !important;
}

.contact-button {
  color: white !important;
  background-color: #1A365D;
  padding: 10px 20px;
  border-radius: 24px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
/* HAMBURGER MENU */

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 24px;
    background: white;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .nav-links li {
    margin-bottom: 12px;
  }

  .nav-links li:last-child {
    margin-bottom: 0;
  }
}